{% for post in include.posts limit: site.paginate %}
        <div class="post py3">
          <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
          <div class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </div>
          <div class="mt1">
            <span class="post-meta">
              <small>
                {{ post.date | date: site.date_format }} {% include post_meta_category.html %}
              </small>
            </span>
          </div>
        </div>
{% endfor %}
