pre,
code {
    font-family: $monospace-font-family;
    font-size: $monospace-font-size;
    border: 1px solid $grey-color-light;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333333;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    word-wrap: normal;

    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}