$backgroundColor: #001e26;
$bodyColor: #9bc1c2;
$bodyFont: "JetBrains Mono", monospace;

body {
  min-height: 95vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: $backgroundColor;
  font-family: $bodyFont;
  font-weight: 500;
  color: $bodyColor;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #684eff;
  color: #fafafa;
}

.text-secondary {
  color:#8caaee;
}

footer {
  color: #B5BFE2;
  margin-top: auto;
}

a {
  color: #f2d5cf;
  text-decoration: none;
}

a:hover {
  color: #1a8cd8;
}

.cursor {
  color: #4e9a06;
}

.output {
  width: 100%;
  max-width: 80ch;
  animation: fade 4s;
}

.typeme {
  width: 30ch;
  animation: typing 1.5s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid #4e9a06;
}

/* animation */
@keyframes fade {
0% { opacity: 0}
50% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes typing {
0% { width: 0; }
100% { width: 30ch; }
}

@keyframes blink {
50% { border-color: transparent;}
}

@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}
