---
layout: default
---

<div class="typeme">
  <span class="text-secondary">arzamaskov@github.io </span>
  <span class="text-background">~ </span>
  <span class="cursor">$ </span>me -h
</div>

<section id="hidden-text" class="output hidden">
  <ul class="links">
    <li>
      <a class="github" href="https://github.com/arzamaskov" alt="github" target="_blank">
        Github
      </a>
    </li>
    <li>
      <a class="mastodon" href="https://mastodon.social/@arzamaskov" alt="mastodon" rel="me" target="_blank">
        Mastodon
      </a>
    </li>
    <li>
      <a class="telegram" href="https://t.me/arzamaskov" alt="telegram" target="_blank">
        Telegram
      </a>
    </li>
  </ul>
  <p>
  Привет, меня зовут Андрей. Я&nbsp;занимаюсь созданием сайтов и&nbsp;веб-приложений как на&nbsp;чистом PHP, так и&nbsp;с&nbsp;использованием Laravel.
  </p>

  <p>
  В&nbsp;работе использую Docker&nbsp;&mdash; инструмент для контейнеризации приложений, который позволяет легко управлять и&nbsp;развертывать приложения в&nbsp;различных средах. Пользуюсь терминалом Linux и&nbsp;использую его для автоматизации задач, управления серверами и&nbsp;других операций.
  </p>

  <p>
  Тексты и&nbsp;код пишу в&nbsp;Vim, точнее в&nbsp;его форке&nbsp;&mdash; Neovim.
  <p>

  <h3>Интересы</h3>
  <ul>
    <li>linux и&nbsp;unix-подобные системы</li>
    <li>терминал и&nbsp;консольные приложения</li>
    <li>backend development</li>
    <li>чтение книг (<a href="{{ 'bookshelf' | relative_url }}" alt="my bookshelf">моя книжная полка</a>)</li>
  </ul>

  <h3>Недавние проекты</h3>
  <ul>
    <li><a href="https://github.com/arzamaskov/notes.nvim" alt="notes.nvim - neovim plugin" target="_blank">Notes.nvim&nbsp;&mdash; плагин ведения заметок для Neovim</a></li>
    <li>
      <a href="https://github.com/arzamaskov/docker-compose-php" alt="Local environment for PHP developers built with Docker Compose" target="_blank">
        Локальное окружение для PHP разработки на&nbsp;Docker Compose
      </a>
    </li>
  </ul>
</section>
